# WEBSOCKET CONFIGURATION
BROADCAST_CONNECTION=reverb
BROADCAST_DRIVER=reverb
REVERB_APP_ID=734188
REVERB_APP_KEY=bsewietxrdrdu8xba8va
REVERB_APP_SECRET=jm10gtfzzaiosbi1wse5
# Point to the reverb container (Address for the backend)
REVERB_HOST=reverb
REVERB_PORT=8090
REVERB_SCHEME=http

REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8090

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
#NGINX receives requests from localhost (Address for the frontend)
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"